#-------------------------------------------#
# CAPITULO 2. TIPOS Y ESTRUCTURAS DE DATOS  #
#-------------------------------------------#

In [2]:
x <- 2
class(x)

[1] "numeric"

In [3]:
y <- "Data Science"
class(y)

[1] "character"

In [5]:
x <- 5
y <- 10

class(x)
class(y)

is.numeric(x)
x

z <- x**2
z

[1] "numeric"

[1] "numeric"

[1] TRUE

[1] 5

[1] 25

# Asignar un número como entero

In [6]:
a1 <- 2.5
class(a1)

a1 <- as.integer(a1)
class(a1)
a1
w <- a1 + 3
a1 + 3 -> w

[1] "numeric"

[1] "integer"

[1] 2

# Funciones matemáticas

In [7]:
round(10.5, 0)  # La cifra es par   10 -> cte
round(11.5, 0)  # La cifra es impar 12 -> sube 

ceiling(10.5) 
floor(10.5)

sqrt(3)
sqrt(3)^2
sqrt(3)^2 == 3   # FALSE
sqrt(9)^2 == 9   # TRUE

pi
exp(1)
exp(3)

[1] 10

[1] 12

[1] 11

[1] 10

[1] 1.732051

[1] 3

[1] FALSE

[1] TRUE

[1] 3.141593

[1] 2.718282

[1] 20.08554

# ln logaritmo natural

In [8]:
log(exp(3))
log10(45)
log2(32)

[1] 3

[1] 1.653213

[1] 5

# Calcule la siguiente expresión, asigne al objeto la
# formula y muestre su valor

In [9]:
f <- (sqrt(40+25*3.5)/log10(35))+((40+25)/35)*(exp(2)+log(20))
f

[1] 26.59892

# Datos character

In [10]:
c1 <- "fuga"
c1
class(c1)

c2 <- "no fuga"

is.character(c1)

[1] "fuga"

[1] "character"

[1] TRUE

# Datos lógicos

In [15]:
d1 <- TRUE
d2 <- FALSE
d3 <- T
d4 <- F

class(d1)

d1
d2
d3

!d1
d1 & d2
d1 | d2
is.logical(d2)
is.logical(f1)

3 == 5 | 2 == 2*1

[1] "logical"

[1] TRUE

[1] FALSE

[1] TRUE

[1] FALSE

[1] FALSE

[1] TRUE

[1] TRUE

[1] FALSE

[1] TRUE

### ESTRUCTURAS DE DATOS ###

# 7. Vectores -------------------------------------------------
# Un vector es una serie de valores en un orden determinado.
# Almacena datos del mismo tipo. Para crear un vector: c(,)

In [3]:
nombres <- c("Jose", "Luisa", "MarÃ­a", "Marco")
nombres

class(nombres)
typeof(nombres)  # es similar a class()
length(nombres)

name <- c("Jose", "Luisa", "Mañana", 525)
name
class(name)

dias <- c(15, 20, 60, 75)
dias
class(dias)
length(name)

# Operaciones con vectores
dias2 <- dias - 2
dias2
dias3 <- dias / 2
dias3
dias4 <- dias2+dias3
dias4
dias5 <- c(15, 20, 60, 75, 15, 20, 60, 75)
dias2+dias5

# Acceder al segundo elemento en el vector dÃ­as
dias[2]

# Incluir los datos en el rango de 2 a 3 
dias[2:3]

# Excluir el item 2 usando el signo menos
dias[-2]

[1] "Jose"   "Luisa"  "MarÃ­a" "Marco"

[1] "character"

[1] "character"

[1] 4

[1] "Jose"   "Luisa"  "Mañana" "525"

[1] "character"

[1] 15 20 60 75

[1] "numeric"

[1] 4

[1] 13 18 58 73

[1]  7.5 10.0 30.0 37.5

[1]  20.5  28.0  88.0 110.5

[1]  28  38 118 148  28  38 118 148

[1] 20

[1] 20 60

[1] 15 60 75

In [7]:
# AÃ±adir el estado de mora como lÃ³gico
estado_mora <- c(FALSE, FALSE, TRUE, TRUE)
estado_mora
class(estado_mora)

estado_mora <- c(F, F, T, T)  # es similar
estado_mora
class(estado_mora)


### Factores ###

# AÃ±adir el factor genero
genero <- c("Masculino", "Femenino", "Femenino", "Masculino")
class(genero)

genero <- as.factor(genero)
class(genero)

is.factor(genero)
genero

# Otra forma mÃ¡s directa
genero <- as.factor(c("Masculino", "Femenino", "Femenino", "Masculino"))
class(genero)



# Otra forma (solo funciona para datos tipo factor)
genero <- factor(c("Masculino", "Femenino", "Femenino", "Masculino"))
class(genero)
genero

# Cambiando las etiquetas de una variable categÃ³rica
genero2 <- factor(genero,levels = c("Masculino", "Femenino"),
                  labels =c("M", "F") )
genero2
table(genero2)

# Otra forma directa
levels(genero2) = c("Hombre","Mujer")  # Ojo con los levels 
genero2
levels(genero2) = c("Macho","Hembra")  # Ojo con los levels 
genero2
levels(genero2) = c("H","F")  # Ojo con los levels 
genero2


# AÃ±adir el nivel socio-eco
nivel <- factor(c("A", "C", "B", "C","A","B","A","C","D"), 
                order = T, 
                levels = c("D","C","B","A"))
nivel
class(nivel)
table(nivel)


nivel2 <- factor(c("M", "MB", "R", "M","M","MB","B","B","B"), 
                order = T, 
                levels = c("M","R","B","MB"))
nivel2
class(nivel2)
table(nivel2)

nivel3 <- factor(c("A", "C", "B", "C"), 
                order = T, 
                levels = c("A","B","C","D"))
nivel3
class(nivel3)

fecha.nac <- as.Date(c("1970-01-20", "1980-03-10", "1975-05-5", "1990-08-29"))
class(fecha.nac)
fecha.nac

[1] FALSE FALSE  TRUE  TRUE

[1] "logical"

[1] FALSE FALSE  TRUE  TRUE

[1] "logical"

[1] "character"

[1] "factor"

[1] TRUE

[1] Masculino Femenino  Femenino  Masculino
Levels: Femenino Masculino

[1] "factor"

[1] "factor"

[1] Masculino Femenino  Femenino  Masculino
Levels: Femenino Masculino

[1] M F F M
Levels: M F

genero2
M F
2 2

[1] Hombre Mujer  Mujer  Hombre
Levels: Hombre Mujer

[1] Macho  Hembra Hembra Macho
Levels: Macho Hembra

[1] H F F H
Levels: H F

[1] A C B C A B A C D
Levels: D < C < B < A

[1] "ordered" "factor"

nivel
D C B A
1 3 2 3

[1] M  MB R  M  M  MB B  B  B
Levels: M < R < B < MB

[1] "ordered" "factor"

nivel2
 M  R  B MB
 3  1  3  2

[1] A C B C
Levels: A < B < C < D

[1] "ordered" "factor"

[1] "Date"

[1] "1970-01-20" "1980-03-10" "1975-05-05" "1990-08-29"

In [ ]:
# Data frames ----------------------------------------------
# Un dataframe es como una matriz, pero con la posibilidad de
# almacenar datos de distinto tipo
# (num, int, logical, factor, character,date)

In [8]:
df_data <- data.frame(nombres, 
                      dias, 
                      estado_mora, 
                      genero,
                      nivel3,
                      fecha.nac)

In [10]:
# Mostrando el data frame
df_data
is.data.frame(df_data)
View(df_data)

  nombres dias estado_mora genero    nivel3 fecha.nac
1 Jose    15   FALSE       Masculino A      1970-01-20
2 Luisa   20   FALSE       Femenino  C      1980-03-10
3 MarÃ­a  60    TRUE       Femenino  B      1975-05-05
4 Marco   75    TRUE       Masculino C      1990-08-29

[1] TRUE

ERROR: Error in View(df_data): 'View()' not yet supported in the Jupyter R kernel

In [12]:
# el nÃºmero de filas y de columnas
dim(df_data)

# head() muestra los 6 primeros datos del dataframe
head(df_data)
head(df_data, 2)

[1] 4 6

  nombres dias estado_mora genero    nivel3 fecha.nac
1 Jose    15   FALSE       Masculino A      1970-01-20
2 Luisa   20   FALSE       Femenino  C      1980-03-10
3 MarÃ­a  60    TRUE       Femenino  B      1975-05-05
4 Marco   75    TRUE       Masculino C      1990-08-29

  nombres dias estado_mora genero    nivel3 fecha.nac
1 Jose    15   FALSE       Masculino A      1970-01-20
2 Luisa   20   FALSE       Femenino  C      1980-03-10

In [13]:
# tail() muestra los 6 Ãºltimos datos del dataframe
tail(df_data)
tail(df_data, 2)

  nombres dias estado_mora genero    nivel3 fecha.nac
1 Jose    15   FALSE       Masculino A      1970-01-20
2 Luisa   20   FALSE       Femenino  C      1980-03-10
3 MarÃ­a  60    TRUE       Femenino  B      1975-05-05
4 Marco   75    TRUE       Masculino C      1990-08-29

  nombres dias estado_mora genero    nivel3 fecha.nac
3 MarÃ­a  60   TRUE        Femenino  B      1975-05-05
4 Marco   75   TRUE        Masculino C      1990-08-29

In [14]:
# str() muestra la estructura del data frame.
# str() muestra los tipo de datos y una muestra de los mismos
str(df_data)


# Accediendo a datos de un data frame
# Obtener una sola columna
df_data$nombres
df_data$fecha.nac

# Data frame tiene dos dimensiones df_data[filas, columnas]
df_data[ ,1]
df_data[2,1]
df_data[2, "nombres"]
df_data[, c("nombres","fecha.nac")]
df_data[[4]]

df_data$estado_mora

df_data
#creaciÃ³n de nuevas columnas a partir de otras
df_data["nombre completo"] <- df_data["nombres"]

df_data
df_data$"nombre completo"

#cambiar la primera columna a caracter
df_data$nombres <- as.character(df_data$nombres)
str(df_data)

# Cambiando el tipo de datos de numeric a integer
df_data$dias    <- as.integer(df_data$dias)

str(df_data)

# Accesando a una fila y una columna
df_data
df_data[1, 2]

df_data$dias[1]  # es equivalente

'data.frame':	4 obs. of  6 variables:
 $ nombres    : Factor w/ 4 levels "Jose","Luisa",..: 1 2 3 4
 $ dias       : num  15 20 60 75
 $ estado_mora: logi  FALSE FALSE TRUE TRUE
 $ genero     : Factor w/ 2 levels "Femenino","Masculino": 2 1 1 2
 $ nivel3     : Ord.factor w/ 4 levels "A"<"B"<"C"<"D": 1 3 2 3
 $ fecha.nac  : Date, format: "1970-01-20" "1980-03-10" ...

[1] Jose   Luisa  MarÃ­a Marco
Levels: Jose Luisa MarÃ­a Marco

[1] "1970-01-20" "1980-03-10" "1975-05-05" "1990-08-29"

[1] Jose   Luisa  MarÃ­a Marco
Levels: Jose Luisa MarÃ­a Marco

[1] Luisa
Levels: Jose Luisa MarÃ­a Marco

[1] Luisa
Levels: Jose Luisa MarÃ­a Marco

  nombres fecha.nac
1 Jose    1970-01-20
2 Luisa   1980-03-10
3 MarÃ­a  1975-05-05
4 Marco   1990-08-29

[1] Masculino Femenino  Femenino  Masculino
Levels: Femenino Masculino

[1] FALSE FALSE  TRUE  TRUE

  nombres dias estado_mora genero    nivel3 fecha.nac
1 Jose    15   FALSE       Masculino A      1970-01-20
2 Luisa   20   FALSE       Femenino  C      1980-03-10
3 MarÃ­a  60    TRUE       Femenino  B      1975-05-05
4 Marco   75    TRUE       Masculino C      1990-08-29

  nombres dias estado_mora genero    nivel3 fecha.nac  nombre completo
1 Jose    15   FALSE       Masculino A      1970-01-20 Jose
2 Luisa   20   FALSE       Femenino  C      1980-03-10 Luisa
3 MarÃ­a  60    TRUE       Femenino  B      1975-05-05 MarÃ­a
4 Marco   75    TRUE       Masculino C      1990-08-29 Marco

[1] Jose   Luisa  MarÃ­a Marco
Levels: Jose Luisa MarÃ­a Marco

'data.frame':	4 obs. of  7 variables:
 $ nombres        : chr  "Jose" "Luisa" "MarÃ­a" "Marco"
 $ dias           : num  15 20 60 75
 $ estado_mora    : logi  FALSE FALSE TRUE TRUE
 $ genero         : Factor w/ 2 levels "Femenino","Masculino": 2 1 1 2
 $ nivel3         : Ord.factor w/ 4 levels "A"<"B"<"C"<"D": 1 3 2 3
 $ fecha.nac      : Date, format: "1970-01-20" "1980-03-10" ...
 $ nombre completo: Factor w/ 4 levels "Jose","Luisa",..: 1 2 3 4
'data.frame':	4 obs. of  7 variables:
 $ nombres        : chr  "Jose" "Luisa" "MarÃ­a" "Marco"
 $ dias           : int  15 20 60 75
 $ estado_mora    : logi  FALSE FALSE TRUE TRUE
 $ genero         : Factor w/ 2 levels "Femenino","Masculino": 2 1 1 2
 $ nivel3         : Ord.factor w/ 4 levels "A"<"B"<"C"<"D": 1 3 2 3
 $ fecha.nac      : Date, format: "1970-01-20" "1980-03-10" ...
 $ nombre completo: Factor w/ 4 levels "Jose","Luisa",..: 1 2 3 4

  nombres dias estado_mora genero    nivel3 fecha.nac  nombre completo
1 Jose    15   FALSE       Masculino A      1970-01-20 Jose
2 Luisa   20   FALSE       Femenino  C      1980-03-10 Luisa
3 MarÃ­a  60    TRUE       Femenino  B      1975-05-05 MarÃ­a
4 Marco   75    TRUE       Masculino C      1990-08-29 Marco

[1] 15

[1] 15

# 9. Almacenando los datos ------------------------------------

In [18]:
datos1 <- read.csv("df_data_ILEN.csv")
datos1
datos1$dias

datos1$estado_mora = NA
datos1

  nombres dias estado_mora genero    nivel3 fecha.nac  nombre.completo
1 Jose    15   FALSE       Masculino A      1970-01-20 Jose
2 Luisa   20   FALSE       Femenino  C      1980-03-10 Luisa
3 MarÃ­a  60    TRUE       Femenino  B      1975-05-05 MarÃ­a
4 Marco   75    TRUE       Masculino C      1990-08-29 Marco

[1] 15 20 60 75

  nombres dias estado_mora genero    nivel3 fecha.nac  nombre.completo
1 Jose    15   NA          Masculino A      1970-01-20 Jose
2 Luisa   20   NA          Femenino  C      1980-03-10 Luisa
3 MarÃ­a  60   NA          Femenino  B      1975-05-05 MarÃ­a
4 Marco   75   NA          Masculino C      1990-08-29 Marco